<html>
    <head>
        <title>
        </title>
        <link href="{{@BASE}}/assets/css/leaflet.css" rel="stylesheet"/>
        <link href="{{@BASE}}/assets/css/style.css" rel="stylesheet"/>
        <link href="{{@BASE}}/assets/css/esri-leaflet-geocoder.css" rel="stylesheet" type="text/css" />
        
        <script src="{{@BASE}}/assets/js/leaflet.js"></script>
        <script src="{{@BASE}}/clients/{{@PARAMS.client}}/point.js"></script>
        <script src="{{@BASE}}/clients/{{@PARAMS.client}}/polygon.js"></script>
        
        <script src="{{@BASE}}/assets/js/esri-leaflet.js"></script>
        <script src="{{@BASE}}/assets/js/esri-leaflet-geocoder.js"></script>

      	<script src="{{@BASE}}/assets/js/catiline.js"></script>
		<script src="{{@BASE}}/assets/js/leaflet.shpfile.js"></script>

    </head>
    <body>
        <div id="map">
        </div>
        <script type="text/javascript">
          

	// Initialize the map and assign it to a variable for later use
	<include href="{{ @views.'lmap.html' }}" />
	<include href="{{ @views.'osm.html' }}" />
	<include href="{{ @views.'search.html' }}" />
	<include href="{{ @views.'jsonfeature.html' }}" />

	/* POINT */
	    <check if="{{ @point_exists }}">

		    var pointStyling = {
				<repeat group="{{ @point }}" key="{{ @k }}" value="{{ @v }}">
					{{@k}}:{{@v}},
				</repeat>
		    };
			var pointLayer = L.geoJson(meta1nJson, {
			  pointToLayer: function (feature, latlng) {
			    return L.circleMarker(latlng, pointStyling);
			  }, onEachFeature: onEachFeature
			}).addTo(map);

			map.fitBounds(L.featureGroup([pointLayer]));
		
		</check>
	
	/* POLYGON */
		<check if="{{ @polygon_exists }}">

			<check if="{{@poly}}">
			    <true><set polystyle="trim(json_encode({{@poly}}), '{}');" /></true>
			    <false><set polystyle="" /></false>
			</check>
			
			var polyLayer = L.geoJson(states, {
		    	style: function(feature) {
		    		<check if="{{ @polygon.case }}">
		    			switch (feature.properties.party) {
							<repeat group="{{ @polygon.case }}" key="{{ @k }}" value="{{ @v }}">
								case '{{@k}}': return {color: {{@v}}, {{@polystyle}} };
							</repeat>
					</check>
		        }

		    }, onEachFeature: onEachFeature
			}).addTo(map);

			map.fitBounds(L.featureGroup([pointLayer, polyLayer]));
		</check>


        </script>
    </body>
</html>